.chat-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    height: 100vh;
}
.registre{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:rgb(245, 179, 113) ;
    width: 40%;
    height: 800px;
    margin: 40px 0 ;
    border-radius: 20px;
box-shadow: 0 10px 10px #000, 0 15px 15px #000 ;
}
 .registre input, .registre .button{
    margin-top: 20px;

}
.registre h1{
    display: flex;
    text-align: center;
    margin-bottom: 50px;
    
}
.registre h6{
    color: #fffdf1;
}
.registre input{
    border-radius: 20px;
    border: none;
    padding: 4px 30px 4px 30px;
    margin-right: 10px;
    box-shadow: 2px 2px 3px #000;
}
.chat-box{
    display: grid;
    grid-template-columns: repeat(2, 01fr );
 width: 60%;
 height: 1000px;
 margin: 50px 0 30px 0;
 padding : 40px;
background: rgb(253, 234, 225);
border-radius: 20px;
box-shadow: 0 10px 10px #000, 0 15px 15px #000 ;
}
.member-list{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    width: 80%;
    height: 100%;
    box-shadow: 0 6px 6px #000;
    border-radius: 20px;
    background-color: rgb(245, 179, 113);
    overflow-y:scroll;
}
.member-list .nav{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
}
.member-list li{
    font-size: 30px;
    font-weight: bolder;
    border-bottom: 1px solid #000;
   cursor: pointer;
    
}
.member-list li:hover{
    color: rgb(253, 234, 225);
    border-bottom: 1px solid rgb(253, 234, 225);
}
.chat-content{
    display: flex;
    justify-content: end;
    align-items: center;
    flex-direction: column;
    margin: 0px 300px 0 0;
    background-color: rgb(250, 186, 123);
    height: 100%;
    width: 100%;
    border-radius: 20px;
    box-shadow: 0 3px 3px #000;
    overflow-y: scroll;
}
.chat-content input, .chat-content button{
    margin-bottom: 20px;
}
.chat-content input{
    border-radius: 20px;
    border: none;
    padding: 4px 40px 4px 40px;
    margin-right: 10px;
    box-shadow: 2px 2px 3px #000;
}
.chat-content button{
    background-color: rgb(247, 166, 112);
    padding: 6px;
    border-radius: 16px;
    border: none;
    box-shadow: 2px 2px 3px #000;
    
}
.chat-content button:hover{
    background-color: rgb(246, 127, 48); 
}

.avatar{
    font-weight: 600;
    display: flex;
    justify-content: end;
    align-items: end;
    
}

.message-data{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    background-color: #fffdf1;
    padding: 4px 40px 4px 40px;
    border-radius: 16px;
}

@media screen and (max-width: 550px) {
    .registre{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        background-color:rgb(245, 179, 113) ;
        width: 80%;
        height: 660px;
        margin: 400px 0 ;
    }
}

@media screen and (max-width:1040px) {
    .member-list {
    font-size: 10px;
    width: 95%;
    margin-right: 20px;
    height:96% ;
    }
    .chat-box{  
     width: 80%;
     padding: 10px;
    }
    .member-list li{
        margin-right: 15px;
    }
    .chat-content{
        height: 86%;
        width: 98%; 
    }
}
@media screen and (max-width:768px) {
    .member-list {
    font-size: 10px;
    width: 100%;
    margin-right: 20px;
    height:96% ;
    }
   
    .chat-box{  
     width: 80%;
     padding: 10px;
    }
    .member-list li{
        margin-right: 15px;
    }
    .chat-content{
        height: 56%;
        width: 70%;
        margin: 0 ; 
    }
}
@media screen and (max-width:425px) {
    .member-list {
    width: 1%;
    margin-right: 20px;
    height:96% ;
    background-color:transparent;
    box-shadow: none;
    }
    .member-list .nav{
        position: absolute;
        top: 0;
        left: 2220px;
    }
    .chat-box{  
     width: 100%;
     padding: 10px;
     margin: 50px 0 30px 0;
     display: flex;
     justify-content: center;
     padding: 20px;
    }
    .member-list li{
        margin-right: 30px;
        justify-content: start;
        font-size: 10px;
    }
    .chat-content{
        height: 96%;
        width: 98%;
       margin: 0 10px 0 0px;
       
    }
    .navli{
        margin-right: 10px;

    }
    .chat-content input{
       
        padding: 4px 30px 4px 30px;
        margin-right: 10px;
       
    }
    .chat-content button{
        padding: 6px;
       margin-left: 4px;
    }
}
@media screen and (max-width:375px) {
    .chat-content input{
       
        margin-left: 10px;
        padding: 4px 25px 4px 25px;
    }
    .chat-content button{
        padding: 6px;
       margin-left: 10px;
    }
}
@media screen and (max-width:900px) {
    .member-list {
    font-size: 10px;
    width: 95%;
    margin-right: 20px;
    height:96% ;
    }
    .chat-box{  
     width: 80%;
     padding: 10px;
    }
    .member-list li{
        margin-right: 15px;
    }
    .chat-content{
        height: 96%;
        width: 98%;
        margin: 0px 100px 0 0; 
    }
}
@media screen and (max-width:1500px) {
    .member-list li{
        margin-right: 50px;
        font-size: 20px;
    }
    .member-list{
        padding: 80px 0 80px 0 ;
        height: 100%;
    }
    .chat-content{
        width: 100%;
        height: 100%;
        padding: 80px 0 80px 0 ;
        margin: 0px 200px 0 0; 
    }
   .chat-box{
       padding: 10px;
   }
}
