.tradutor-btn, .tradutor-btn a{
    color: #fffdf1;
    font-weight: 800;
}

.cards-tradutors{
    display: grid;
    grid-template-columns: repeat(4, 01fr);
    justify-content: center;
    align-items: center;
}

.cards-tradutors .b-card{
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to left, #000000, #2a2a2a, #000000 100% );
    color: #fffdf1;
    padding: 2px;
    font-weight: 550;
    box-shadow: 0 0 2.5px #131210, 0 0 7.5px #131210, 0 0 12.5px #131210, 0 0 25px #131210;
}
.btn-tradutor{
    color: #fffdf1;
    background-color: transparent;
    border-radius: 10px;
    border: 3px solid #ff6600;
    margin-left: 20px;
    padding: 3px;
}
.btn-tradutor:hover{
    color: #000000;
    font-weight: 600;
    border: none;
    background-color: #ff6600;
    padding: 4.65px;
}
.chat-tradutor{
    color: #fffdf1;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: end;
    margin: 20px 20px 20px 0;
}
.chat-tradutor svg{
    color: #fffdf1;
    
}
.chat-tradutor svg:hover{
    color: #ff6600;
}
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 20px;
}
.card-add{
    
    width: 700px;
    height: 700px;
    margin: 100px 0 0 0px;
    background-color: rgb(250, 186, 123);
    border-radius: 20px;
    box-shadow: 0 3px 3px #000;
    text-align: center;
}
.card-body .group{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.group label{
    font-size: 20px;
    font-weight: 600;
}
.group input{
    border-radius: 20px;
    border: none;
    padding: 4px 40px 4px 40px;
    box-shadow: 2px 2px 3px #000;
    margin: 7px 0 13px 0 ;
}
.btn-env{
    color: #4e4e4c;
    background-color: transparent;
    border-radius: 10px;
    border: 3px solid #ff6600;
    margin-top: 20px;
    padding: 3px;
    font-weight: 700;
    font-size: 20px;
}
.btn-env:hover{
    color: #000000;
    border: none;
    background-color: #ff6600;
    padding: 6px;
}
@media screen and (max-width:320px) {
    .card-add{
        width: 250px;
        height: 400px;
        margin: 50px 0 0 0px;
        
    }
    .group label{
        font-size: 15px;
        font-weight: 200;
    } 
    .group input{
        padding: 1px 10px 1px 10px;
        
    }
    .btn-env{
        margin-top: 20px;
        padding: 2px;
        font-weight: 700;
        font-size: 15px;
    }
    .btn-env:hover{
        padding: 0;
    }
}
@media screen and (max-width:375px) {
    .cards-tradutors .b-card{
        padding:1px 15px 1px 15px;
       
    }
    .btn-tradutor{
        margin-left: 5px;
        padding: 0;
    }
    .btn-tradutor:hover{
        padding: 0;
    }
    .cards-tradutors{
       font-size: 10px;
    }
    .card-add{
        width: 250px;
        height: 400px;
        margin: 50px 0 0 0px;
        
    }
    .group label{
        font-size: 15px;
        font-weight: 200;
    } 
    .group input{
        padding: 1px 5px 1px 5px;
        
    }
    .btn-env{
        margin-top: 20px;
        padding: 2px;
        font-weight: 700;
        font-size: 12px;
    }
    .btn-env:hover{
        padding: 0;
    }
}
@media screen and (max-width:1024px) {
    .cards-tradutors .b-card{
        padding:1px 10px 1px 10px;
       
    }
    .btn-tradutor{
        margin-left: 10px;
        padding: 0;
    }
    .btn-tradutor:hover{
        padding: 0;
    }
    .cards-tradutors{
       font-size: 10px;
    }
    .card-add{
        width: 325px;
        height: 400px;
        margin: 50px 0 0 0px;
        
    }
    .group label{
        font-size: 15px;
        font-weight: 200;
    } 
    .group input{
        padding: 2px 10px 2px 10px;
        
    }
    .btn-env{
        margin-top: 20px;
        padding: 2px;
        font-weight: 500;
        font-size: 12px;
    }
    .btn-env:hover{
        padding: 0;
    }
}