*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: -apple-system, 'Roboto',
    'Ubuntu', sans-serif;
}

body {
 
    background: linear-gradient(112.68deg, #FF7700 0%, #FF8800 48.44%, rgba(0, 0, 0, 0.99) 100%);
}


li{
  list-style: none;
}
a{
  text-decoration: none;
  cursor: pointer;
}