.doc{
    height: 100vh;
    color: #FFFDF1;
}
.doc h2, .doc h3, .doc h4, .doc h5{
  font-size: 30px;
    padding: 20px 0 15px 15px;
}
.doc h5{
    font-size: 20px;
}
.doc span, .doc li{
   font-weight: bold;
   font-size: 18px;
    margin-left: 15px;
    
}
.rec span{
margin-bottom: 10px;
}
.logo3{
    position: absolute;
width: 185px;
height: 354px;
left: 1289px;
top: 563px;
}
 .doc h2{
    width: 45ch;
    animation: typing 2s steps(40), blink .5s step-end infinite alternate;
    white-space: nowrap;
    overflow: hidden;
    border-right: 3px solid;

}
@keyframes typing {
    from{
        width: 0;
    }
}
@keyframes blink {
    50% {
        border-color: transparent;
    }
}
@media screen and (max-width:1440px) {
    .logo3{
        position: absolute;
    width: 185px;
    height: 354px;
    left: 1189px;
    top: 563px;
    }
}
@media screen and (max-width:1230px) {
    .logo3{
     display: none;
    }
    .doc span{
        font-size: 14px;
    }
}
@media screen and (max-width:800px) {
   .doc{
    margin-bottom: 40px;
   }
   
    .doc span{
        font-size: 12px;
        
    }
    .doc h2{
        font-size: 28px;
    }
    .doc h3{
        font-size: 24px;
        margin: 13px 0 10px 10px;
        
    }
}